<!-- Loop over each post object -->
{{#each posts as |post| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <!-- Render post-specific data with Handlebars.js expressions -->
    <a href="/post/{{id}}">{{post.title}}</a>
  </div>
  <div class="col-md-6">
    <p>{{post.contents}}</p><br>
    <p>Written by {{user.username}} on {{post.date_created}}</p>
  </div>
</div>
{{/each}}